.logo {
	width: 90px;
	height: 90px;
	display: block;
	border-radius: 50%;
	background: url('../images/dest/logo.svg') no-repeat center;
	position: absolute;
	transition: .3s;


	/*@media screen and (min-width: 1126px) {
		top: 55px;
		left: 0;
	}*/

	@media screen and (max-width: 768px) {
		top: 100px;
		left: 50%;
		margin-left: -42px;
	}

	@media screen and (min-width: 769px) {
		top: 48px;
	}

	@media screen and (min-width: 769px) and (max-width: 1160px) {
		left: 20px;
	}

	@media screen and (min-width: 1161px) {
		left: 0px;
	}


	/*@media screen and (min-width: 769px) {
		top: 55px;
		left: 0;
	}*/

	/*@media screen and (min-width: 1360px) {
		top: 48px;
		left: 0;
	}*/
}