@import "fonts";
@import "basic";


/*
	320  - mobile
	1126 - desktop
	1360 - fullscreen 
*/


body.lock {
	overflow: hidden;

	/*@media screen and (min-width: 768px) {
		overflow: auto;
	}*/
}

.page {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}


.container {

	position: relative;
	height: 100%;

	margin: 0 auto;

	@media screen and (min-width: 320px) {
		width: 100%;
	}

	@media screen and (min-width: 1126px) {
		width: 1126px;
	}

	@media screen and (min-width: 1360px) {
		width: 1360px;
	}
}



@import "header";
@import "logo";
@import "header-nav";
@import "user";
@import "basket";
@import "login";