@import "fonts";
@import "basic";


/*
	320  - mobile
	1126 - desktop
	1360 - fullscreen 
*/


body.lock {
	overflow: hidden;

	/*@media screen and (min-width: 768px) {
		overflow: auto;
	}*/
}

.page {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}


.container {

	position: relative;
	height: 100%;

	margin: 0 auto;

	@media screen and (min-width: 320px) {
		width: 100%;
	}

	@media screen and (min-width: 1126px) {
		max-width: 1126px;
	}

	@media screen and (min-width: 1360px) {
		max-width: 1360px;
	}
}


.section-heading {
	font-weight: 200;
	font-size: 50px;
	line-height: 50px;
	color: #252A3A;

	@media screen and (max-width: 767px) {
		font-size: 30px;
		line-height: 30px;
	}
}

.section-subtitle {
	font-weight: 200;
	font-size: 33px;
	line-height: 38px;
	color: #252e3a;

	@media screen and (max-width: 767px) {
		line-height: 30px;
	}
}

.button {
	font-weight: 700;
	font-size: 11px;
	line-height: 14px;
	padding: 15px 35px;
	text-transform: uppercase;
	color: #252A3A;
	border: 2px solid #252a3a;
	display: inline-block;
}


.logo {
	width: 90px;
	height: 90px;
	display: block;
	background: url('../images/dest/logo.svg') no-repeat center;
	transition: .3s;

	@media screen and (max-width: 768px) {
		display: none;
	}

	&-mobile {
		width: 90px;
		height: 90px;
		background: url('../images/dest/logo.svg') no-repeat center;
		transition: .3s;
		position: absolute;
		top: 100px;
		left: 50%;
		margin-left: -45px;

		@media screen and (min-width: 769px) {
			display: none;
		}
	}

	/*@media screen and (min-width: 769px) {
		top: 48px;
	}

	@media screen and (min-width: 769px) and (max-width: 1160px) {
		left: 20px;
	}

	@media screen and (min-width: 1161px) {
		left: 0px;
	}*/
}

.logo-inner {
	width: 70px;
	height: 70px;
	background: url('../images/dest/logo_inner.svg') no-repeat center;
	transition: .3s;
	display: block;

	/*position: absolute;
	top: 44px;
	left: 0;*/

	@media screen and (max-width: 768px) {
		display: none;
	}

	&__mobile {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 80px;
		left: 50%;
		margin-left: -35px;
		transition: .3s;
		background: url('../images/dest/logo_inner.svg') no-repeat center;

		@media screen and (min-width: 769px) {
			display: none;
		}
	}
}


.section {
	position: relative;
}

.section-1 {
	margin-bottom: 70px;

	@media screen and (min-width: 1126px) {
		margin-bottom: 100px;
	}

	@media screen and (min-width: 1360px) {
		margin-bottom: 125px;
	}

	.category {
		@media screen and (min-width: 1125px) {
			margin-top: -110px;
		}
	}
}

.section-2 {
	width: 100%;
	
	@media screen and (min-width: 1126px) {
		min-height: 720px;
		background: url('../images/dest/1280/section_2.jpg') no-repeat 0px 0px;
	}

	@media screen and (min-width: 1360px) {
		min-height: 930px;
		background: url('../images/dest/1920/section_2.jpg') no-repeat 0px 0px;
	}

	@media screen and (min-width: 1360px) {
		background-position-x: -40%;
	}

	@media screen and (min-width: 1460px) {
		background-position-x: -30%;
	}

	@media screen and (min-width: 1560px) {
		background-position-x: -20%;
	}

	@media screen and (min-width: 1660px) {
		background-position-x: -10%;
	}

	@media screen and (min-width: 1760px) {
		background-position-x: -5%;
	}

	@media screen and (min-width: 1860px) {
		background-position-x: 0;
	}
}

.section-3 {

	margin-bottom: 250px;

	@media screen and (max-width: 1360px) {
		margin-bottom: 270px;
	}

	@media screen and (max-width: 1125px) {
		margin-bottom: 80px;
	}

	.category {

		@media screen and (max-width: 1125px) {
			margin-top: 0;
		}

		@media screen and (min-width: 1126px) {
			margin-top: -80px;
		}
		
		@media screen and (min-width: 1360px) {
			margin-top: -100px;
		}
	}
}

.section-4 {


	@media screen and (min-width: 767px) {
		margin-bottom: 80px;
	}

	@media screen and (min-width: 1360px) {
		margin-bottom: 100px;
	}

	&__text {
		max-width: 750px;
		font-weight: 300;
		font-size: 18px;
		line-height: 30px;

		@media screen and (max-width: 1160px) {
			padding: 0 20px;
			margin-bottom: 30px;
		}

		@media screen and (min-width: 1161px) {
			margin-bottom: 50px;
		}
	}

	
	&__image {

		position: relative;
		z-index: 9;

		@media screen and (max-width: 375px) {
			width: 100%;
			height: 533px;
			background-image: url('../images/dest/mobile/section_4.jpg');
			background-repeat: no-repeat;
			background-position: center;
		}

		@media screen and (min-width: 376px) {
			width: 100%;
			height: 698px;
			background-image: url('../images/dest/1280/section_4.jpg');
		}

		@media screen and (min-width: 768px) {
			width: 56%;
			position: absolute;
			bottom: -470px;
			right: 0;
		}

		@media screen and (min-width: 1126px) {
			bottom: -390px;
			right: 0;
		}

		@media screen and (min-width: 1360px) {
			bottom: -326px;
			right: 0;
			background-image: url('../images/dest/1920/section_4.jpg');
		}
		
		.logo {

			@media screen and (max-width: 768px) {
				top: 45px;
				left: 50%;
			}

			@media screen and (max-width: 375px) {
				margin-left: -42px;
			}

			@media screen and (min-width: 376px) {
				width: 124px;
				height: 124px;
				margin-left: -62px;
				background: url('../images/dest/logo_large.svg');
			}

			@media screen and (min-width: 769px) {
				top: 86px;
				right: 11%;
				left: auto;
				margin: 0;
			}

			@media screen and (min-width: 1360px) {
				top: 143px;
				right: 29%;
			}
		}
	}

}


.section-5 {
	max-width: 1640px;
	background: #FFEEF5;
	position: relative;

	@media screen and (max-width: 1359px) {
		max-width: 1210px;
	}

	@media screen and (max-width: 767px) {
		&::before {
			content: '';
			width: 67%;
			height: 50px;
			position: absolute;
			top: -50px;
			left: 0;
			z-index: 10;
			background: #FFEEF5;
		}
	}

	.container {
		max-width: 950px;
		padding: 154px 10px 120px 290px;
		margin: 0;
		background: #FFEEF5;
		position: relative;
		z-index: 10;

		@media screen and (max-width: 1359px) {
			padding: 154px 10px 120px 80px;
			max-width: 650px;
		}

		@media screen and (max-width: 767px) {
			padding: 50px 25px;
			max-width: 650px;
		}
	}

	&__heading {
		max-width: 320px;
		font-weight: 200;
		font-size: 40px;
		line-height: 45px;
		margin-bottom: 10px;

		@media screen and (max-width: 375px) {
			font-size: 30px;
			line-height: 30px;
		}
	}

	&__subtitle {
		max-width: 270px;
		margin-bottom: 50px;
		font-weight: 300;
		font-size: 24px;
		line-height: 30px;

		@media screen and (max-width: 1359px){
			margin-bottom: 70px;
		}

		@media screen and (max-width: 767px){
			margin-bottom: 45px;
		}

		@media screen and (max-width: 375px){
			font-size: 18px;
			line-height: 24px;
		}
	}

	.steps {

		&-list {
			
			margin-left: 0!important;

			@media screen and (max-width: 1359px) {
				margin-bottom: 30px;
			}

			&-item {
				width: 33.33333%;

				@media screen and (max-width: 1359px) {
					margin-right: 40px;

				}
			}
		}
	}
}


@import "header";
@import "header-nav";
@import "user";
@import "basket";
@import "login";
@import "category";
@import "steps";
@import "userpic";
@import "footer";

/* ---------- END index.html ---------- */


.page-list {

	.main {

		.container {
			display: flex;
		}

		&__left-side {
			flex: 0 0 400px;
			min-height: 100vh;
			/*background: #f9f9f9;*/
			border-bottom: 1px solid #222;
		}

		&__right-side {
			flex: 1;
			min-height: 90vh;
			/*background: #f5f5f5;*/
			border-bottom: 1px solid #222;
		}
	}

	.catalog-menu {

		margin-bottom: 30px;
		transition: .5s;
		position: relative;


		&__item {
			font-size: 16px;
			line-height: 30px;
			font-weight: 300;
			display: block;
			text-transform: uppercase;
		}
	}

	.colorpic {

		&-title {
			font-weight: 400;
			font-size: 11px;
			line-height: 20px;
			margin-bottom: 12px;
			text-transform: uppercase;
		}

		&-list {
			display: flex;

			&-item {
				width: 30px;
				height: 30px;
				margin-right: 5px;
				cursor: pointer;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid #aaa;

				&::after {
					content: '';
					width: 0px;
					height: 0px;
					border: 5px solid #fff;
					border-radius: 50%;
					transition: .3s;

				}

				&.active::after {
					content: '';
					width: 15px;
					height: 15px;
					border: 5px solid #fff;
					border-radius: 50%;
					background: #333;
				}
			}
		} 

	}


  	@-webkit-keyframes show {
    	0% {opacity: 0;} 
    	100% {opacity: 1;}
  	 }

	.catalog-list {
		/*display: flex;
		flex-wrap: wrap;
		justify-content: space-between;*/
		padding-top: 20px;


		&__section {
			margin-bottom: 140px;
		}


		&__title {
			font-weight: 200;
			font-size: 33px;
			line-height: 38px;
			margin-bottom: 22px;
		}

		&-items {
			display: flex;
			flex-wrap: wrap;
		}

		&-item {
			width: 50%;
			padding: 120px 118px 50px 118px;
			animation: hide .4s ease .1s forwards;

			&.active {
				flex: 1;
				display: block;
				//opacity: 1;
				animation: show .4s ease .1s forwards;
			}

			&--large {
				flex: 0 0 100%!important;
			}

			&.disabled {
				display: none;
				opacity: 0;
			}

			&--large {
				width: 100%;
			}

			&--mobile {
				@media screen and (min-width: 376px) {
					display: none;
				}
			}

			&--desktop {
				@media screen and (max-width: 375px) {
					display: none;
				}
			}

			&__image {
				margin-bottom: 60px;
				text-align: center;
			}

			&__name {
				font-weight: 400;
				font-size: 11px;
				line-height: 20px;
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 3px;
			}

			&__price {
				font-weight: 300;
				font-size: 11px;
				line-height: 20px;
				text-align: center;
			}
		}
	}
}

.fixed-container {

	position: relative;
	top: 0;
	transition: .5s;

	&.fixed {
		position: fixed;
		top: 50px;
	}

	&.stopPoint {
		top: -50vh;
	}
		
}